[submodule "ku-rakutanbot-external-api-mock"]
	path = ku-rakutanbot-external-api-mock
	url = git@github.com:tinaxd/ku-rakutanbot-external-api-mock.git
[submodule "kuRakutanBot-go"]
	path = kuRakutanBot-go
	url = git@github.com:das08/kuRakutanBot-go.git
